
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keyword" content="">
    <title> MyGrocStore - Admin</title>

  <!-- Favicons -->
  <!-- <link href="/images/favicon.png" rel="icon"> -->
  <link href="/images/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" type="text/css" href="/javascripts/bootstrap/css/bootstrap.min.css" >
    <!--external css-->
    <link rel="stylesheet" type="text/css" href="/javascripts/font-awesome/css/font-awesome.css"  />
  <!-- Custom styles for this template -->
  <link href="/stylesheets/style.css" rel="stylesheet">
    <link href="/stylesheets/style-responsive.css" rel="stylesheet">
  
  <style>
      .login-wrap
      {
          padding:24px;
      }
  </style>
<meta name="robots" content="noindex, nofollow">
</head>

<body>
  <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
  <div id="login-page">
    <div class="container">
        <form method="post" action="/handlelogin" class="form-login">
        <h2 class="form-login-heading">MyGrocStore Sign in</h2>
        <div class="login-wrap">
          <input type="text" class="form-control" value="harshroc@gmail.com" name="adminemail" placeholder="Email ID" autofocus>
          <br>
          <input type="password" class="form-control" name="adminpassword" value="admin@123"  placeholder="Password">
          <label class="checkbox" style="font-size: 14px">
            <input style="padding-left: 10px;" type="checkbox" value="remember-me"> Remember me
            <span class="pull-right">
            <!-- <a data-toggle="modal" href="#"> Forgot Password?</a> -->
            </span>
            </label>
          <input class="btn btn-theme btn-block" href="#" type="submit" value="SIGN IN"/></i> 
          <div style="text-align: center; color: green;padding-top: 10px;"><%= typeof(message) === "undefined" ? "" : message %> </div>
          
          
        </div>
        <!-- Modal -->
        <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Forgot Password ?</h4>
              </div>
              
              <div class="modal-body">
                <p>Enter your e-mail address below to reset your password.</p>
                <input type="text" name="email" placeholder="Email" autocomplete="off" class="form-control placeholder-no-fix">
              </div>
              <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>
                <button class="btn btn-theme" type="button">Submit</button>
              </div>
            </div>
          </div>
        </div>
        <!-- modal -->
      </form>
    </div>
  </div>
  <!-- js placed at the end of the document so the pages load faster -->
  <script src="/javascripts/jquery/jquery.min.js"></script>
<script src="/javascripts/bootstrap/js/bootstrap.min.js"></script>
  <!--BACKSTRETCH-->
  <!-- You can use an image of whatever size. This script will stretch to fit in any screen size.-->
  
  
 
</body>

</html>
